.buttonsList {
  padding: 17px;
  display: flex;
  flex-direction: space-between;
  flex-wrap: no-wrap;
  gap: 15px;
  width: 100%;
  overflow: hidden;

  background-color: #e5e5e5;
}
.buttonsItem {
}
.button {
}
