.container {
  width: 100%;
  flex: 1 1 0%;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  right: 50%;
  top: 20px;
  width: min-content;
  height: 100%;
  transform: translateX(50%);
}
