.buttonsList {
  padding: 17px;
  display: flex;
  flex-direction: space-between;
  flex-wrap: no-wrap;
  gap: 15px;
  width: 100%;
  overflow: hidden;

  background-color: #e5e5e5;
}
.buttonsItem {
@media screen and (min-width: 520px) {
  .buttonsItem:nth-child(n + 2) {
    display: none;
  }
}

@media screen and (min-width: 612px) {
  .buttonsItem:nth-child(n + 2) {
    display: block;
  }
  .buttonsItem:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 972px) {
  .buttonsItem:nth-child(n + 4) {
    display: block;
  }

  .moreButton {
    display: none;
  }
}
